/*
Navigation bar 
*/
.navbar {
    position: absolute;
    width: auto;
    height: 89px;
    background: #B7D4F5;
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: absolute;
    width: auto;
    height: 89px;
    background: #B7D4F5;
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.navbar a.right {
    float: right;
}
.navbar a:hover {
    color: black;
}
.responsive {
    max-width: 100%;
    height: auto;
  }
.column {
    float: left;
    padding: 10px;
    height: 100%;
}
.rectanlge {
    position: absolute;
    width: 1303px;
    height: 271px;
    background: #B7D4F5;
}

.autolayout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    background-image: url(blueTiedye.jpg) ; 
    height: auto;
    width: 100%

}